<!DOCTYPE html>
<html>
<head>
  	<title>My first Vue app</title>
  	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
	<div id="app">
		{{ message }}
		<span v-once>This will never change: {{ message }}</span>
		<p>Using mustaches: {{ rawHtml }} it show html code, but not redered, so it is not red</p>
		<p>Using v-html directive: <span v-html="rawHtml"></span></p>
		<div>{{ counter +1 }}</div>
	  	<ol>
		    <todo-list
		      v-for="item in list"
		      v-bind:todo="item"
		      v-bind:key="item.id">
		    </todo-list>
	  	</ol>
	  	<!-- <a href="url" target = "_blank">Click Me to go AS.com</a> --> <!-- This provoke error -->
		<!-- <a href = "{{url}}" target = "_blank">Click Me </a>  <br/> --> <!-- This provoke error -->
		<a v-bind:href = "url" target = "_blank" v-if="seen">Click Me to go AS.com </a><br/>
		<a :href = "url" target = "_blank" v-if="seen">Click Me to go AS.com </a><br/>
		<button v-on:click = "doSomething"> Click Me to show link</button><br/>
		<button @click = "doSomething"> Click Me to show link</button><br/>

		<div id="example">
		  <p>Original message: "{{ message }}"</p>
		  <p>Computed reversed message: "{{ reversedMessage }}"</p>
		  <p>Time: "{{ now }}"</p>
		</div>
	</div>

	<div id="app-2">
		<span v-bind:title="message">
		    Hover your mouse over me for a few seconds
		    to see my dynamically bound title!
		</span>
	</div>

	<div id="app-3">
		<span v-if="seen">Now you see me</span>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
			  {{ todo.text }}
			</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Reverse Message</button>
	</div>
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<ol>
		<!-- Create an instance of the todo-item component -->
		<todo-item></todo-item>
	</ol>

	<div id="app-7">
	  <ol>
	    <!--
	      Now we provide each todo-item with the todo object
	      it's representing, so that its content can be dynamic.
	      We also need to provide each component with a "key",
	      which will be explained later.
	    -->
	    <todo-item
	      v-for="item in groceryList"
	      v-bind:todo="item"
	      v-bind:key="item.id">
	    </todo-item>
	  </ol>
	</div>
	<div id="watch-example">
	  <p>
	    Ask a yes/no question:
	    <input v-model="question">
	  </p>
	  <p>{{ answer }}</p>
	  <img v-bind:src="image">
	</div>
	<!-- Include javascript code -->

	<script src="index.js"></script>
	<script src="components\todo-item.js"></script>
	<script src="components\todo-vue.js"></script>
	<script src="components\watch-example.js"></script>
</body>
</html>